
body {
    background-color: whitesmoke;
    
}


.header {
    font-family: 'Bitter', serif;
    color:white;
    margin:0;
    background-color: #002F6C;
}

.navbar {
    margin:0;
}

.container {
    margin:0;
}

nav > a , h4 {
    color:whitesmoke;
}

.col-centered {
    float:none;
    margin-right: auto;
    margin-left: auto;
}



.row {
    justify-content:space-evenly;
}

.card {
    max-width:18rem;
}

#footer {
    background-color:#002F6C ;
    display: flex;
    justify-content: space-around;
}